aiofiles==22.1.0
aiohttp==3.8.4
aioredis==2.0.1
aiosignal==1.3.1
anyio==3.6.2
ascii-magic==1.6
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.0
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
choicelib==0.1.5
chromedriver-autoinstaller==0.4.0
cleverbot-scraper==0.2.7
click==8.1.3
click-shell==2.1
cloudscraper==1.2.69
colorama==0.4.6
Deprecated==1.2.13
exceptiongroup==1.1.1
fake-headers==1.0.2
fastapi==0.92.0
fastapi-queue==0.1.1
frozenlist==1.3.3
gTTS==2.3.1
h11==0.14.0
html5lib==1.1
icrawler==0.6.6
idna==3.4
joblib==1.2.0
libretranslatepy==2.1.1
limits==2.8.0
loguru==0.6.0
lxml==4.9.2
markdown-it-py==2.2.0
markdownify==0.11.6
mdurl==0.1.2
msgpack==1.0.5
multidict==6.0.4
nltk==3.8.1
openai==0.27.2
outcome==1.2.0
packaging==22.0
Pillow==9.4.0
pycparser==2.21
pydantic==1.10.7
Pygments==2.14.0
pyparsing==3.0.9
PySocks==1.7.1
PyVirtualDisplay==3.0
ratelimit==2.2.1
regex==2023.3.23
requests==2.28.2
requests-toolbelt==0.10.1
rich==13.3.3
selenium==4.8.3
shellingham==1.5.0.post1
six==1.16.0
slowapi==0.1.7
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
starlette==0.25.0
textblob==0.17.1
ThreadPoolExecutorPlus==0.2.2
tqdm==4.65.0
translate==3.6.1
trio==0.22.0
trio-websocket==0.10.2
typer==0.4.2
typing_extensions==4.5.0
undetected-chromedriver==3.4.6
urllib3==1.26.15
uvicorn==0.20.0
vbml==1.1.post1
vkbottle==4.3.12
vkbottle-types==5.131.146.15
watchfiles==0.18.1
webencodings==0.5.1
websockets==10.4
win32-setctime==1.1.0
wrapt==1.15.0
wsproto==1.2.0
yarl==1.8.2
youdotcom==2.0.24
